p{
    font-size: 30px;
    color: orange;
}

h1{
    font-size: 48;
    color: gold;
}

.teste{
    font-size: 20;
    color: grey;
}
div{
    background: yellow;
    width: 250px;
    height: 100px;
    padding: 30px;
    border: 15px solid red;
}
.container{
    display: inline-flex;
    flex-wrap: nowrap;
}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset = "UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
   

    <h1>Lista de Materiais para o Alicerce da Casa</h1>

    <p>A lista abaixo foi elaborada para iniciarmos a construção do alicerce da nossa casa</p>
    <p>Caso tenha duvidas, entrar em contato:</p> <a href = "www.casasemconstrucao.com.br">Email</a>

<ol>
    <li>150 Sacos de cimento 50kg</li>
    <li>550 Blocos</li>
    <li>90 Sacos de Areia</li>
</ol>
<img src="alicerce.jpg" alt="Meu Alicerce">
<div>Conteudo vai aqui </div>
</body>

</html>